@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your application!</p>
    <p>
        <a asp-controller="Decks" asp-action="Create" class="btn btn-primary">Create Deck</a>
    </p>
</div>
